@model MyMovieCollection.Models.Movie
@using MyMovieCollection.Utils
@{
    ViewBag.Title = "Details";
}

<div>
    <hr />
    <table>
        <tr>
            <td><img src=@(ImageConfiguration.secure_base_url+ImageConfiguration.poster_sizes.ElementAt(3)+Model.poster_path)></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            <td valign="top">
                <table>
                    <tr>
                        <td>
                            <h2>@Html.DisplayFor(model => model.title)</h2>
                        </td>
                        <td align="right">
                            <table>
                                <tr>
                                    <td rowspan="2"><img height="40" src="~/Resources/Images/staricon.png"></td>
                                    <td align="right"><big><b>@Html.DisplayFor(model => model.vote_average)</b></big><small class="text-muted">/10</small><br></td>
                                <tr>
                                    <td><small class="text-muted">@Html.DisplayFor(model => model.vote_count)</small></td>
                            </table>
                        </td>
                    <tr>
                        <td colspan="2">
                            @(!Model.original_title.Equals(Model.title) ? Model.original_title : "")
                            <i>@(!Model.original_title.Equals(Model.title) ? "(original title)" : "")</i>
                            <hr>
                        </td>
                    <tr>
                        <td>
                            <table>
                                <tr>
                                    <td colspan="4">
                                        <h5 class="badge badge-pill badge-danger" )>@((Model.adult) ? "Adult" : "")</h5>
                                    </td>
                                    <td>
                                        <h6>&nbsp;</h6>
                                    </td>
                                    <td>
                                        <h5>
                                            <small class="text-muted">@Model.runtime min | Action, Drama, Fantasy | @Model.release_date.ToShortDateString()</small>
                                        </h5>
                                    </td>
                            </table>
                        </td>
                        <td width="125" align="right">
                            <a href="@(Model.homepage)" target="_blank"><h4 class="badge badge-pill badge-success">Homepage</h4></a>
                            <a href="@(ImageConfiguration.imdb_base_title_url+Model.imdb_id)" target="_blank"><h4 class="badge badge-pill badge-warning">IMDB</h4></a>
                        </td>
                    <tr>
                        <td colspan="2"><hr><b>Status : </b>@Model.status</td>
                    <tr>
                        <td colspan="2"><b>Budget : </b>&nbsp;$@Model.budget &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Revenue : </b>$@Model.revenue</td>
                    <tr>
                        <td colspan="2">
                            <table>
                                <tr>
                                    <td><strong><br>Overview</strong></td>
                                <tr>
                                    <td>
                                        @Model.overview<blockquote class="blockquote text-right"><footer class="blockquote-footer">@Html.DisplayFor(model => model.tagline)</footer></blockquote>
                                    </td>
                            </table>
                        </td>
                </table>
            </td>
    </table>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }, new { @class = "btn btn-primary" })
    @Html.ActionLink("Delete", "Delete", new { id = Model.id }, new { @class = "btn btn-danger" })
</p>
