@model IEnumerable<MyMovieCollection.Models.Movie>
@using MyMovieCollection.Utils

@{
    ViewBag.Title = "Movies";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table movie-table">
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.release_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vote_average)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td class="movie-table">
                <img src=@(ImageConfiguration.secure_base_url+ImageConfiguration.poster_sizes.ElementAt(1)+item.poster_path) height="150">
            </td>
            <td class="movie-table">
                @Html.DisplayFor(modelItem => item.title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.release_date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote_average)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
    }

</table>
