@model IEnumerable<MyMovieCollection.Models.Movie>
@using MyMovieCollection.Utils

@{
    ViewBag.Title = "Movies";
}
<br>
<h2>Movies</h2>

<table class="table">
    <tr>
        <td align="right" colspan="6">
            @Html.ActionLink("Add Movie", "Create", null, new { @class = "btn btn-primary" })
        </td>
    </tr>
    <tr>
        <th></th>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <td align="center">
            <b>@Html.DisplayNameFor(model => model.runtime)</b>
        </td>
        <td align="center">
            <b>@Html.DisplayNameFor(model => model.release_date)</b>
        </td>
        <td align="center">
            <b>@Html.DisplayNameFor(model => model.vote_average)</b>
        </td>
        <td align="right">
            <b>@Html.DisplayNameFor(model => model.status)</b>
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td style='vertical-align:middle'>
                <a href='@Url.Action("Details", "Movies", new { id = item.id })'>
                    <img src=@(ImageConfiguration.secure_base_url+ImageConfiguration.poster_sizes.ElementAt(1)+item.poster_path) height="150">
                </a>
            </td>
            <td style='vertical-align:middle'>
                @Html.ActionLink(item.title, "Details", new { id = item.id })
            </td>
            <td style='vertical-align:middle' align="center">
                @Html.DisplayFor(modelItem => item.runtime) min
            </td>
            <td style='vertical-align:middle' align="center">
                @item.release_date.ToShortDateString()
            </td>
            <td style='vertical-align:middle' align="center">
                @Html.DisplayFor(modelItem => item.vote_average)
            </td>
            <td style='vertical-align:middle' align="right">
                @Html.DisplayFor(modelItem => item.status)
            </td>
        </tr>
    }
</table>
