<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My Movie Collection</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        @Html.ActionLink("My Movie Collection", "Index", "Home", null, new { @class = "navbar-brand" })
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Index" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("Home", "Index", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Movies" ? "active" : "")">
                    @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Genres" ? "active" : "")">
                    @Html.ActionLink("Genres", "Index", "Genres", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "ProductionCompanies" ? "active" : "")">
                    @Html.ActionLink("Production Companies", "Index", "ProductionCompanies", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "ProductionCountries" ? "active" : "")">
                    @Html.ActionLink("Production Countries", "Index", "ProductionCountries", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "SpokenLanguages" ? "active" : "")">
                    @Html.ActionLink("Spoken Languages", "Index", "SpokenLanguages", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "People" ? "active" : "")">
                    @Html.ActionLink("People", "Index", "People", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Controller"].ToString() == "Keywords" ? "active" : "")">
                    @Html.ActionLink("Keywords", "Index", "Keywords", null, new { @class = "nav-link" })
                </li>
                <!--
     <li class="nav-item dropdown">
         <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" id="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
         <div class="dropdown-menu" aria-labelledby="dropdown">
             @Html.ActionLink("Movies", "Index", "Movies", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("Genres", "Index", "Genres", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("Production Companies", "Index", "ProductionCompanies", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("Production Countries", "Index", "ProductionCountries", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("Spoken Languages", "Index", "SpokenLanguages", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("People", "Index", "People", null, new { @class = "nav-link dropdown-item" })
             @Html.ActionLink("Keywords", "Index", "Keywords", null, new { @class = "nav-link dropdown-item" })
         </div>
     </li>
    -->
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "About" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("About", "About", "Home", null, new { @class = "nav-link" })
                </li>
                <li class="nav-item @(ViewContext.RouteData.Values["Action"].ToString() == "Contact" && ViewContext.RouteData.Values["Controller"].ToString() == "Home" ? "active" : "")">
                    @Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "nav-link" })
                </li>
            </ul>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </div>
        </nav>
        <div class="container body-content">
            @RenderBody()
            <hr />
            <footer>
                <p>&copy; @DateTime.Now.Year - My Movie Collection</p>
            </footer>
        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </body>
    </html>
